# This app specific
build/
build-*Desktop_Qt*/
build_icl*/
build_msvc*/
deploy/
output/
TmpLib1/

*.log
*.asv

# Visual Studio specific
*.suo
*.sdf
*.opensdf
*.user
*.psess
*.ipch
*.VC.db
*.VC.opendb

# Qt specific
GeneratedFiles/

# Python
.idea*