# This app specific
build/
build-*Desktop_Qt*/
output/
TmpLib1/
array_view.props

*.log
*.asv

# Visual Studio specific
*.suo
*.sdf
*.opensdf
*.user
*.psess
*.ipch

# Qt specific
GeneratedFiles/

# Python
.idea